# General
venv/
__pycache__/
*.pyc
.DS_Store

# Data
*.csv
downloads/
temp_scans/
data/
!data/diabetes_brfss.csv

# Models
*.pt
!trained_model_v2.pt

# Logs
*.txt
*.log

# Scripts Output (if any)
scripts/__pycache__/
src/__pycache__/
