.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-primary);
}

.contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    background: radial-gradient(circle at top right, #1e293b 0%, transparent 40%);
}